<div conatiner="fluid-content">
    <h2>Products Table</h2>
    <table class="table table-hover"> 
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>index</th>
                <th>first</th>
                <th>last</th>
                <th>odd</th>
                <th>even</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of Products; let i=index; let f=first; let l=last; let o=odd; let e=even">
                  <td>{{item.Name}}</td>
                  <td>{{item.Price}}</td>
                  <td>{{i}}</td>
                  <td>{{f}}</td>
                  <td>{{l}}</td>
                  <td>{{o}}</td>
                  <td>{{e}}</td>
                  <td (click)="DeleteClick(i)"><button>Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>
