<div class="container-fluid text-white d-flex justify-content-center allign-items-center" style="height:120px">
  <!--<div class="pt-4" style="width: 500px"></div>-->
  <div class="pt-4" style="width: 400px;">
    <p class="text-center">Ready to watch? enter your email to craete or restart your membership.</p>
    <div class="input-group input-group-lg">
        <input type="email" class="form-control" placeholder="your email address">
        <button class="btn btn-danger">
            Get Started<span class="bi bi-chevron-right"></span>
        </button>
    </div>
   </div>
</div>
